/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Style for the navbar */
nav {
  background: linear-gradient(to bottom, #7d4cdb, #ae5ff5);
  border-bottom: 5px solid #ae5ff5;
  height: 80px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}


nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease;
  padding: 15px 25px;
  border-radius: 10px;
  border: 2px solid #7d4cdb;
  background-color: #542c85;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

nav a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #7d4cdb;
  transition: all 0.3s ease;
  z-index: -1;
}

nav a:hover {
  color: #7d4cdb;
  background-color: #fff;
  border-color: #7d4cdb;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

nav a:hover:before {
  width: 100%;
}

/* Style for the main content */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2e9ff;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #542c85;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 40px;
  color: #333;
}

body {
  background-color: #f2e9ff;
}
button {
  background-color: #7d4cdb;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  }
  
  button:hover {
  background-color: #542c85;
  }

  /* App.css */
.cart {
  display: flex;
  justify-content: space-between;
}

.cart-items {
  width: 60%;
}

.order-summary {
  width: 35%;
}


  .search-bar {
    float: left;
    background-color: #fff;
    border: 2px solid #7d4cdb;
    color: #7d4cdb;
    padding: 10px;
    border-radius: 5px;
    margin-left: 20px;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  
  .search-bar:focus {
    outline: none;
    border-color: #542c85;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  
  .product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .product-card-container {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
  }
  
  .product-card {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
  }
  
  .product-card img {
    display: block;
    margin: 0 auto;
  }
  
  .product-card h3 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .product-card p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .product-card .quantity {
    margin-bottom: 10px;
  }
  
  .product-card input[type="number"] {
    width: 50px;
  }
  
  .product-card button {
    display: block;
  }
  .view-more {
  display: block;
  margin: 0 auto;
}
